@use '../../utils' as *;

/*----------------------------------------*/
/*  10.7 portoflio-details
/*----------------------------------------*/
.portfolio-details {
    
    &__technology-item {
        margin-bottom: 60px;
        gap: 14px;
        
        @media #{$xs} {
            margin-bottom: 30px;
        }
        
        .icon {
            width: 80px;
            height: 80px;
            min-width:80px;
            min-height:80px;
            @include border-radius(500px);
            background: var(--rr-theme-primary-gradient);
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                width: auto;
            }
        }
        
        .text {
            h4 {
                margin-bottom: 6px;
            }
        }
    }
    
    &__media {
        overflow: hidden;
        @include border-radius(10px);
        height: 570px;
        
        @media #{$lg} {
            height: 500px;
        }
        @media #{$md} {
            height: 450px;
        }
        @media #{$sm} {
            height: 400px;
        }
        @media #{$xs} {
            height: 300px;
        }
        
        img {
            width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__author {
        position: absolute;
        right: 50px;
        bottom: -60px;
        width: 270px;
        max-width: 100%;
        @include border-radius(10px);
        overflow: hidden;
        
        @media #{$md, $sm, $xs} {
            position: initial;
            margin-top: 30px;
            display: flex !important;
            width: 100%;
            max-width: 100%;
            background-color:var(--rr-theme-primary);
            flex-wrap: wrap !important;
        }
        
        &-item {
            padding: 23px 30px 13px 30px;
            border-bottom: 1px solid rgb(255 255 255 / 10%);
            background: var(--rr-theme-primary);
            
            @media #{$md, $sm, $xs} {
                border-bottom: none;
                padding: 10px 20px;
            }
            
            &:last-child {
                border-bottom: none;
            }
            
            h5, span {
                color: var(--rr-common-white);
            }
            
            h5 {
                margin-bottom: -5px;
            }
            
            span {
                opacity: 0.8;
            }
        }
    }
    
    &__content {
        
        .media-group {
            margin-bottom: 50px;
            
            @media #{$xs} {
                margin-bottom: 30px;
            }
            
            .media {
                margin-bottom: 0;
            }
        }
        
        .choose-us-2__progress-item-content {
            h5 {
                margin-bottom: 0;
            }
        }
        
        &-text-block {
            margin-bottom: 50px;
            max-width: 1014px;
            
            @media #{$xs} {
                margin-bottom: 30px;
            }
        }
        
        h1, h2, h3, h4, h5, h6 {
            color: var(--rr-heading-primary);
            margin-bottom: 14px;
        }
        
        p {
            font-size: 16px;
            line-height:26px;
            margin-bottom: 50px;
            
            @media #{$xs} {
                margin-bottom: 30px;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        .media {
            margin-bottom: 50px;
            display: inline-block;
            @include border-radius(10px);
            overflow: hidden;
            
            @media #{$xs} {
                margin-bottom: 30px;
            }
            
            &-group {
                display: flex;
                gap: 50px;
                
                @media #{$xs} {
                    margin-bottom: 30px;
                }
                
                @media #{$xs} {
                    flex-wrap: wrap;
                }
            }
            
            img {
                width: auto;
                max-width: 100%;
            }
        }
        
        ul {
            margin-bottom: 30px;
            display: flex;
            gap: 15px;
            flex-direction: column;
            padding-left:18px;
        }
        
    }
    
    &__list  {
        padding-left: 79px !important;
        list-style: none;
        margin-bottom: 0 !important;
        
        @media #{$lg} {
            padding-left:30px !important;
        }
        @media #{$sm, $xs, $md} {
            margin-top: 30px !important;
            padding-left:0 !important;
        }
        
        li {
            color: var(--rr-text-body);
            font-family: var(--rr-ff-heading);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            
            img {
                max-width: 14px;
                margin-right: 9px;
                width: auto;
            }
        }
    }
}