<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Graph </title>
    <meta name="description" content="">
    <meta name="author" content="ahmmedsabbirbd">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/imgs/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="static/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/vendor/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="static/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/vendor/fontawesome-pro.css">
    <link rel="stylesheet" href="static/assets/css/vendor/spacing.css">
    <link rel="stylesheet" href="static/assets/css/vendor/custom-font.css">
    <link rel="stylesheet" href="static/assets/css/main.css">
</head>

<body>

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- preloader start -->
<div id="preloader">
    <div class="preloader-close">x</div>
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!-- preloader start -->

<!-- Backtotop start -->
<div class="backtotop-wrap cursor-pointer">
    <svg class="backtotop-wrap d-none">
        <path class="btn-wrap" d="M0 0 L10 10" />
    </svg>
    <span class="btn-wrap">
        <span class="text-one"><i class="fa-solid fa-angle-up"></i></span>
        <span class="text-two"><i class="fa-solid fa-angle-up"></i></span>
    </span>
</div>
<!-- Backtotop end -->

<!-- Offcanvas area start -->
<div class="fix">
    <div class="offcanvas__area">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="index-3.html">
                            <img src="static/assets/imgs/logo/logo.svg" alt="logo not found">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button class="offcanvas-close-icon animation--flip">
                                <span class="offcanvas-m-lines">
                              <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
                                </span>
                        </button>
                    </div>
                </div>
                <div class="mobile-menu onepagenav fix"></div>
                <div class="offcanvas__social">
                    
                    <ul class="header-top-socail-menu d-flex">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>
<div class="offcanvas__overlay-white"></div>
<!-- Offcanvas area start -->

<!-- Header area start -->
<header>
    <div id="header-sticky" class="header__area header-1">
        <div class="header-top-2 d-none d-md-block">
            <div class="container">
                <div class="top-header__menu-wrapper d-flex justify-content-between align-items-center">
                   

                    <ul class="header-top-2-socail-menu d-flex">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="mega__menu-wrapper p-relative">
                <div class="header__main">
                    <div class="header__left">
                        <div class="header__logo">
                            <a href="index.html">
                                <div class="logo">
                                    <img src="static/assets/imgs/logo/logo.svg" alt="logo not found">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="header__middle">
                        <div class="mean__menu-wrapper onepagenav d-none d-lg-block">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="active"><a href="/home">Prediction</a></li>
                                        <li class="has-dropdown">
                                            <a href="#">Graph</a>
                                            <ul class="submenu">
                                                <li><a href="/about1">Anova</a></li>
                                                <li><a href="/about2">RFECV</a></li>
                                            </ul>
                                        </li>
										<li class="has-dropdown">
                                            <a href="#">Notebook</a>
                                            <ul class="submenu">
                                                <li><a href="/notebook1">Anova</a></li>
                                                <li><a href="/notebook2">RFECV</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__action d-flex align-items-center">
                            <div class="header__btn-wrap d-none d-sm-inline-flex">
                                <a href="/login" class="header_btn rr-btn">
                                    <span class="btn-wrap">
                                        <span class="text-one">Logout</span>
                                        <span class="text-two">Logout</span>
                                    </span>
                                </a>
                            </div>
                            <div class="header__hamburger ml-20 d-lg-none">
                                <div class="sidebar__toggle">
                                    <a class="bar-icon" href="javascript:void(0)">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header area end -->

<!-- Body main wrapper start -->
<main>

    <!-- Banner area start -->
    <section id="banner" class="banner-2 banner-2__space overflow-hidden">
        <div class="banner-2__background-image" data-parallax='{"y": -50, "scale": 1.3, "smoothness": 15}' data-background="static/assets/imgs/banner-2/images.jfif"></div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-9 col-xl-7 col-lg-7 col-md-8 col-sm-9">
                    <div class="banner-2__content">
                        <h1 class="banner-2__title rr-fw-black color-white mb-10 wow fadeIn animated" data-wow-delay=".3s">Welcome To Dashboard.</h1>
                        <p class="h5 rr-ff-body color-white rr-fw-regular wow fadeIn animated" data-wow-delay=".5s">Early Alzheimer's Detection Using Handwriting Analysis with ML models</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner area end -->

    
    <!--high-performance start-->
    <section class="high-performance section-space-top overflow-hidden">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">

             		 
            <h5 class="sub-title">GRAPH </h5>
			<br><br><br>
          	
            <p>Sample Outcome:</p><br><br>
            <img src="static/anova/download.png">
            <br><br><br>
            <p>Correlation Matrix:</p><br><br>
            <img src="static/anova/download (1).png">
            <br><br><br>
			
            <p>Accuracy:</p><br><br>
            <img src="static/anova/download (2).png">
            <br><br><br>
            <p>Precision:</p><br><br>
            <img src="static/anova/download (3).png">
			<br><br><br>
            <p>Recall Score:</p><br><br>
            <img src="static/anova/download (4).png">
            <br><br><br>
            <p>F1 Score:</p><br><br>
            <img src="static/anova/download (5).png">
			<br><br><br>
            
			
            <p>AUC:</p><br><br>
            <img src="static/anova/download (6).png">
            <br><br><br>
            <p>Cohen Kappa Score:</p><br><br>
            <img src="static/anova/download (7).png">
			<br><br><br>
            <p>MCC:</p><br><br>
            <img src="static/anova/download (8).png">
            <br><br><br>
            
            <br><br>	
<br><br><br>
</div>
</div>
</div>
</section>
<!--high-performance end-->
</main>
<!-- Body main wrapper end -->

<!-- Footer area start -->
<footer>
<section class="footer__area-common footer__area-common-2 overflow-hidden position-relative z-1" data-bg-color="#F0F7FF">
<div class="container">
<div class="row">
	<div class="col-lg-4">
		<div class="footer__widget footer__widget-2 footer__widget-2-item-1">
			<div class="footer__logo mb-20">
				<a href="#">
					<img src="static/assets/imgs/logo/logo.svg" alt="logo not found">
				</a>
			</div>
			

			<div class="footer__social footer__social-2 mt-30 mt-xs-20">
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
				<a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
				<a href="#"><i class="fa-brands fa-vimeo-v"></i></a>
			</div>
		</div>
	</div>

	
</div>
</div>

<div class="footer__bottom-wrapper">
<div class="container">
	<div class="footer__bottom footer__bottom-2 justify-content-center">
		<div class="footer__copyright footer__copyright-2">
			<p>Copyright 2024 <a href="index.html">Meddygol</a> All Rights Reserved</p>
		</div>
	</div>
</div>
</div>
</section>
</footer>
<!-- Footer area end -->

<!-- JS here -->
<script src="static/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="static/assets/js/plugins/waypoints.min.js"></script>
<script src="static/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="static/assets/js/plugins/meanmenu.min.js"></script>
<script src="static/assets/js/plugins/swiper.min.js"></script>
<script src="static/assets/js/plugins/wow.js"></script>
<script src="static/assets/js/vendor/magnific-popup.min.js"></script>
<script src="static/assets/js/vendor/type.js"></script>
<script src="static/assets/js/plugins/imagesloaded-pkgd.js"></script>
<script src="static/assets/js/plugins/isotope-pkgd.js"></script>
<script src="static/assets/js/plugins/counterup.js"></script>
<script src="static/assets/js/plugins/nice-select.min.js"></script>
<script src="static/assets/js/vendor/jquery-ui.min.js"></script>
<script src="static/assets/js/plugins/parallax-scroll.js"></script>
<script src="static/assets/js/vendor/ajax-form.js"></script>
<script src="static/assets/js/plugins/purecounter.js"></script>
<script src="static/assets/js/plugins/jquery-knob.js"></script>
<script src="static/assets/js/plugins/jquery-appear.js"></script>

<script src="static/assets/js/main.js"></script>
</body>

</html>